/*有关getPassword的CSS文档*/
A:link,A:active,A:visited{TEXT-DECORATION:none ;Color:#000000}
A:hover{Color:#4455aa}

BODY{
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY:  宋体;
	background-color: #ffffff; 
	scrollbar-face-color: #C0C0C0;
	scrollbar-highlight-color: #C0C0C0;
	scrollbar-shadow-color: #C0C0C0;
	scrollbar-3dlight-color: #E0E0E0;
	scrollbar-arrow-color:  #000000;
	scrollbar-track-color: #E0E0E0;
	scrollbar-darkshadow-color: #C0C0C0;
}
TD{
	font-family: 宋体;
	font-size: 12px;
	line-height: 15px;
}
td.TableBody1{
	background-color: #137171;
}
.tableBorder1{
	width:97%;
	border: 1px; 
	background-color: #0D4F4F;
}
.table{
	border-collapse: collapse;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	background-color:#ffffff；
}
INPUT{
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	HEIGHT: 18px;
	border: 1px none #CCCCCC;
	background-image: url(Images_v1/yx2_2.gif);
}

.formFieldError{
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:12px;
	color:#ff3300;
	margin:1px; 
	padding:4px; 
	vertical-align:bottom;
}

