<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!--struts2拦截器配置-->
	<filter>
		<filter-name>strust2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>strust2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!--配置spring监听器-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:beans.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!--启动清理程序监听器-->
	<listener>
		<listener-class>org.xyl.web.MatchListener</listener-class>
	</listener>
	<!--
	<listener>
		<listener-class>org.xyl.web.CleanListener</listener-class>
	</listener>
	-->	
	<listener>
		<listener-class>org.xyl.web.MsgSessionListener</listener-class>
	</listener>
	
	<!--字符过滤器-->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/DisplayChart</url-pattern>
	</servlet-mapping>
	<!--

		<filter> <filter-name>SystemContextFilter</filter-name>
		<filter-class>org.xyl.web.SystemContextFilter</filter-class> </filter>
		<filter-mapping> <filter-name>SystemContextFilter</filter-name>
		<url-pattern>/*</url-pattern> </filter-mapping>
	-->
	
	<filter>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

	<!--以下3个过滤器是struts的相关配置-->
	<!--
		<filter>
			<filter-name>struts-prepare</filter-name>
			<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
		</filter>
		<filter-mapping>
			<filter-name>struts-prepare</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping> 
		
		<filter>
			<filter-name>struts-execute</filter-name>
			<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
		</filter>
		<filter-mapping>
			<filter-name>struts-execute</filter-name>
			<url-pattern>/*</url-pattern>
		</filter-mapping>
	-->	
	
	<!--SiteMesh的相关配置-->
	<!-- 
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	
	<!--DWR的相关配置-->
	<servlet>
		<display-name>DWR Servlet</display-name>
		<servlet-name>DWR</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>allowScriptTagRemoting</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>DWR</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	

	<!--定义一个servlet-->
	
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>org.xyl.web.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>org.xyl.web.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	
	
	<!--Tiles的相关配置-->
	<context-param>
		<param-name>org.apache.tiles.CONTAINER_FACTORY</param-name>
		<param-value>
			org.apache.struts2.tiles.StrutsTilesContainerFactory
		</param-value>
	</context-param>

	<context-param>
		<param-name>
			org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
		</param-name>
		<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.apache.struts2.tiles.StrutsTilesListener
		</listener-class>
	</listener>
	
	
	<!--配置tiles的uri-->
	<jsp-config>
		<taglib>
			<taglib-uri>/tiles-tags</taglib-uri>
			<taglib-location>/WEB-INF/tiles-jsp.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	
	<!-- 400错误 -->   
	<error-page>   
		<error-code>400</error-code>   
		<location>/inc/errorPage.jsp</location>   
	</error-page>
	
	<!-- 404 页面不存在错误 -->
	<error-page>
		<error-code>404</error-code>
		<location>/inc/errorPage.jsp</location>
	</error-page>
	 
	<!-- 500 服务器内部错误 -->
	<error-page>
		<error-code>500</error-code>
		<location>/inc/errorPage.jsp</location>
	</error-page>
	
	
	<!-- java.lang.Exception异常错误,依据这个标记可定义多个类似错误提示 --> 
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/inc/errorPage.jsp</location>  
	</error-page>
	
	
	<!-- java.lang.NullPointerException异常错误,依据这个标记可定义多个类似错误提示 -->   
	<error-page>
		<exception-type>java.lang.NullPointerException </exception-type>
		<location>/inc/errorPage.jsp</location>
	</error-page>
  
	<error-page>   
		<exception-type>javax.servlet.ServletException</exception-type>   
		<location>/inc/errorPage.jsp</location>
	</error-page>


</web-app>


